[build]
builder = "DOCKERFILE"
dockerfilePath = "Suscripcion.Api/Dockerfile"

[deploy]
startCommand = "dotnet Suscripcion.Api.dll"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[deploy.environmentVariables]]
name = "ASPNETCORE_ENVIRONMENT"
value = "Production"

[[deploy.environmentVariables]]
name = "ASPNETCORE_URLS"
value = "http://0.0.0.0:${PORT}"

[[deploy.environmentVariables]]
name = "ConnectionStrings__DefaultConnection"
value = "${MYSQL_URL}"

[[deploy.environmentVariables]]
name = "RabbitMq__Host"
value = "${RABBITMQ_HOST}"

[[deploy.environmentVariables]]
name = "RabbitMq__Username"
value = "${RABBITMQ_DEFAULT_USER}"

[[deploy.environmentVariables]]
name = "RabbitMq__Password"
value = "${RABBITMQ_DEFAULT_PASS}"
